<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/head.ejs'); %>
</head>

<body class="body-wrapper">

<!-- Header -->
<%- include('../common/header.ejs'); %>
<!-- header -->

<!-- hero -->
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<span class="gs-title">지에스</span><span class="gs-sub-title">컨테이너</span>
					<p>컨테이너 도매상으로 각종 컨테이너를 취급합니다.</p>
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<form action="#">
						<div class="row">
							<!--
							<div class="col-lg-6 col-md-12">
								<div class="block d-flex">
									<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search for store">
								</div>
							</div>
							-->
							<div class="col-lg-12 col-md-12">
								<div class="block d-flex">
									<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="검색어를 입력해주세요.">
									<button class="btn btn-main">검색</button>
								</div>
							</div>
						</div>
					</form>
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!-- //hero -->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>판매 중인 컨테이너</h2>
					<p>010-0000-0000으로 문의주시면 친절하게 상담해드리겠습니다.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container1.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container2.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container3.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container1.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container2.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-4">
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/container3.png" alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><a href="">회색 컨테이너</a></h4>
									<p class="card-text">회색 컨테이너입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-xs-center">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">이전</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">다음</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer -->
	<%- include('../common/footer.ejs'); %>
<!-- //footer -->


<!-- JAVASCRIPTS -->
	<%- include('../common/javascripts.ejs'); %>
<!-- //JAVASCRIPTS -->

</body>

</html>



