<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/head.ejs'); %>
</head>

<body class="body-wrapper">

<!-- Header -->
<%- include('../common/header.ejs'); %>
<!-- header -->

<section class="sub-menu-section bg-1 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-block">
                    <span class="gs-title">지에스</span><span class="gs-sub-title">컨테이너</span>
                </div>				
            </div>
        </div>
    </div>
</section>

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>상세제품정보</h2>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                            <img class="card-img-top img-fluid" src="images/products/container1.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th scope="row" style="width:30%">
                                        가격
                                    </th>
                                    <td>
                                        협의
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        모델명
                                    </th>
                                    <td>
                                        농막컨테이너
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        제품번호
                                    </th>
                                    <td>
                                        1234567
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        제조사
                                    </th>
                                    <td>
                                        (주)성신
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        재고
                                    </th>
                                    <td>
                                        있음
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        제품상태
                                    </th>
                                    <td>
                                        신제품
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        거래지역
                                    </th>
                                    <td>
                                        전국/부산/경남
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="width:30%">
                                        A/S여부
                                    </th>
                                    <td>
                                        가능
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>  

<!-- footer -->
	<%- include('../common/footer.ejs'); %>
<!-- //footer -->


<!-- JAVASCRIPTS -->
	<%- include('../common/javascripts.ejs'); %>
<!-- //JAVASCRIPTS -->

</body>

</html>



